/* Everything Styling*/

body {
	background-image: radial-gradient(
			circle,
			rgba(38, 63, 31, 0.95) 0%,
			rgba(49, 29, 8, 0.95) 100%
		),
		url('https://external-preview.redd.it/LtYa42bTVRgj8AEI6FIhHS9JCF90hSDreQoxC7kRS54.jpg?auto=webp&s=552bad3904d028d3c65d0261a151189564910fed');
	background-size: cover;
	height: 100%;
	width: 100%;
	font-family: 'Crimson Text', serif;
}

.mimic-button {
	background-color: #000000;
	border-radius: 15px;
	border: 1px solid #000000;
	color: #ffffff;
	font-size: 17px;
	padding: 10px 20px;
  font-family: 'Crimson Text', serif;
  margin-bottom: 10px;
}

.mimic-button:hover {
	box-shadow: 0 0 10px #666666;
}

/*Main styling*/

#main-heading {
	box-shadow: inset 0 0 20px #cfb53b;
	border-color: #cfb53b;
	border-width: thin;
	border-radius: 50%;
	width: 60%;
	height: 80vh;
	text-align: center;
	margin: auto;
	width: 50%;
	padding: 10px;
}

#main-heading h1 {
	display: inline-block;
	margin-top: 100px;
	color: #ffffff;
	text-shadow: 0 0 10px #cfb53b;
}

#main-heading h1 {
}

#main-heading h2 {
	color: #ffffff;
}

/*Navbar styling */

#navcontain {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	justify-items: center;
}

/* Quote Styling */

#quote-info {
	text-align: center;
	width: 50%;
	word-wrap: break-word;
	background-image: url('https://www.pngkey.com/png/full/25-253981_finpapertex3-piece-of-burned-paper.png');
	background-size: 100% 100%;
}

#quote {
	display: inline-block;
	width: 40%;
}

/* Edit About Me Styling*/

#edit-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 50px;
	margin-top: 50px;
}

#edit-everything {
	height: 100%;
  color: white;
}

.text-field{
  color: white;
}

/*Profile Page Styling*/

.aboutme {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
  margin-bottom: 20px;
}

.about-info {
	width: 400px;
	word-wrap: break-word;
	background-image: url('https://www.pngkey.com/png/full/25-253981_finpapertex3-piece-of-burned-paper.png');
	background-size: 100% 100%;
}

.about-info p {
	display: inline-block;
	width: 350px;
}

.delete-button {
	color: white;
}

.postlist{
  margin-top: 50px;
}

.image-label {
	text-align: center;
}

.edit-button {
	margin-top: 10px;
	background-color: #567a43;
}

#quote-flex{
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

/*Login Styling*/

.login-outside {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.login-outside h1 {
	color: #ffffff;
	text-shadow: 0 0 10px #cfb53b;
}

.loginlink {
	width: 30%;
	background-image: url('https://www.pngkey.com/png/full/25-253981_finpapertex3-piece-of-burned-paper.png');
	background-size: 100% 100%;
	height: 80px;
	text-align: center;
	color: black;
}

.loginlink p {
	margin-top: 5px;
  display: inline-block;
	width: 60%;
}

/*All Posts Styling*/

#allflex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

/* Add Post styling */

#add-flex{
margin-left: 50px;
}

#add-contain{
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  align-items: space-around;
  width: 50%;
  height: 100%;
  margin-top: 100px;
  color: white;
}

@media only screen and (max-width: 800px) {
#main-heading{
  box-shadow: none;
}
.loginlink{
  width: 70%;
  height: 100px;
}
.loginlink p {
  display: inline-block;
  padding: 10px;
  width: 60%
}
#edit-flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 50px;
	margin-top: 50px;
}
.editinfo{
  margin: 20px;
}
.aboutme {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
  margin-bottom: 20px;
}
}